@using Zelus.Web.Models.Views.Mods
@model ModVM
    
<div class="mod-container" data-id="@Model.Id">
    <div class="mod-image statmod-summary">
        <div class="statmod-preview">
            <span class="statmod-pips">
                @for (var i = 0; i < Model.Pips; i++)
                {
                    <span class="statmod-pip"></span>
                }
            </span>
            @if (Model.ShowCheckbox)
            {
                <div class="statmod-check">
                    <input type="checkbox" onchange="mods_OnChange(this)" />
                </div>
            }
            <a class="statmod-char-portrait" href="@Model.CharacterUrl">
                <div class="char-portrait char-portrait-dark-side char-portrait-xsmall" data-toggle="tooltip" data-container="body" title="@Model.CharacterName">
                    <div class="char-portrait-image">
                        <img class="char-portrait-img" src="@Model.CharacterImg" alt="@Model.CharacterName" />
                    </div>
                </div>
            </a>
            @Html.Partial("_ModImage", Model)
        </div>
    </div>
    <div class="mod-stats statmod-stats">
        <p class="primary-stat">@Model.Primary</p>
        <p class="secondary-stat">@Model.Secondary1</p>
        <p class="secondary-stat">@Model.Secondary2</p>
        <p class="secondary-stat">@Model.Secondary3</p>
        <p class="secondary-stat">@Model.Secondary4</p>
    </div>
</div>