@model Zelus.Web.Models.LeaderboardVM

<div class="row">
    <div class="col-xs-12">
        <h3>
            @Model.RaidName<br />
            <small>@Model.RaidSubtext</small>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        Top 10 - Phase 1        
                    </div>
                    <div class="col-xs-4 text-right">
                        <small><a style="color: white;" href="@Url.Action("Index", "SquadViewer", new { raidId = Model.RaidId, phaseId = Model.Phase1Id })">see all</a></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var squad in Model.PhaseOneSquads)
                {
                    @Html.Partial("_Squad", squad)
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        Top 10 - Phase 2
                    </div>
                    <div class="col-xs-4 text-right">
                        <small><a style="color: white;" href="@Url.Action("Index", "SquadViewer", new { raidId = Model.RaidId, phaseId = Model.Phase2Id })">see all</a></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var squad in Model.PhaseTwoSquads)
                {
                    @Html.Partial("_Squad", squad)
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        Top 10 - Phase 3
                    </div>
                    <div class="col-xs-4 text-right">
                        <small><a style="color: white;" href="@Url.Action("Index", "SquadViewer", new { raidId = Model.RaidId, phaseId = Model.Phase3Id })">see all</a></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var squad in Model.PhaseThreeSquads)
                {
                    @Html.Partial("_Squad", squad)
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        Top 10 - Phase 4
                    </div>
                    <div class="col-xs-4 text-right">
                        <small><a style="color: white;" href="@Url.Action("Index", "SquadViewer", new { raidId = Model.RaidId, phaseId = Model.Phase4Id })">see all</a></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var squad in Model.PhaseFourSquads)
                {
                    @Html.Partial("_Squad", squad)
                }
            </div>
        </div>
    </div>
</div>