@using Z.Core.Extensions
@model Zelus.Web.Models.SquadVM

<div class="row clickable-row" data-href="@Url.Action("Index", "Squad", new {id = Model.Id})">
    <div class="col-xs-2 vertical-center squad-rank">
        @Model.Rank
    </div><!--
    --><div class="col-xs-7 vertical-center">
        <strong>@Model.SquadName</strong><br />
        <small>by @Model.PlayerName</small>
    </div><!--
    --><div class="col-xs-3 vertical-center">
        @(Math.Round((Model.Damage.ToDecimal() / Model.PhaseHealth.ToDecimal()) * 100))%
    </div>
</div>
<hr />
