@using Zelus.Web.Models.Helpers
@model Zelus.Web.Models.CreateSquadVM
    
<style type="text/css">
    .victory-screen-upload {
        min-height: 148px;
    }
    .victory-screen-container {
        min-height: 222px;
        min-width: 455px;
    }
    .victory-screen-drop-zone {
        height: 100%;
        width: 100%;
        margin-bottom: 15px;
    }
    .drop-zone-text-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 100%;
        font-size: 24px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }
    .drop-zone-text {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .victory-screen-preview-link {
        position: absolute;
        z-index: 2;
        height: 100%;
        padding-bottom: 15px;
    }
    #victoryScreenPreviewImage {
        height: 100%;
    }
    #victoryScreenModalPreviewImage {
        width: 100%;
    }

    .character-container {
        height: 160px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        margin-bottom: 5px;
    }
</style>
    
<form id="squadForm" role="form" action="@Url.Action("CreateSquad", "Squad")" method="POST">
    @Html.HiddenFor(m => m.PlayerUsername)
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Step 2: Fill out your squad's details:</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                <input id="Name" name="Name" type="text" class="form-control" style="width: 100%;" placeholder="Ex: Viva la Resistance, Chaze and Friends, etc." 
                       minlength="3" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RaidId)
                <input id="RaidId" name="RaidId" type="number" class="form-control" style="width: 100%;" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.PhaseId)
                <input id="PhaseId" name="PhaseId" type="number" class="form-control" style="width: 100%;" required />
            </div>
        </div>
    </div>
    <div class="row equal-column-heights">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Damage)
                <input type="number" id="Damage" name="Damage" class="form-control" aria-describedby="percentage-addon" required />
                @*<div class="input-group">
                    <span class="input-group-addon" id="percentage-addon">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    
                </div>*@
            </div>
            <div class="form-group victory-screen-upload">
                @Html.LabelFor(m => m.VictoryScreenFile)
                <input id="VictoryScreenFile" name="VictoryScreenFile" type="file" />
            </div>
        </div>
        <div class="col-md-6 victory-screen-container">
            <a href="#" class="victory-screen-preview-link" data-toggle="modal" data-target=".image-preview">
                <img id="victoryScreenPreviewImage" />
            </a>
            <div class="well victory-screen-drop-zone">
                <div class="drop-zone-text-wrapper">
                    <p><i class="fa fa-plus"></i> Add Image</p>
                    <p class="drop-zone-text">Drop victory screen here to upload</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/Content/Images/crown.png" style="height: 30px;"/>
            </div>
        </div>
        <div class="col-md-10"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div id="ContainerForMember1Id" class="character-container"></div>
                @Html.LabelFor(m => m.Member1Id)
                <input id="Member1Id" name="Member1Id" class="form-control" style="width: 100%;" required />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div id="ContainerForMember2Id" class="character-container"></div>
                @Html.LabelFor(m => m.Member2Id)
                <input id="Member2Id" name="Member2Id" class="form-control" style="width: 100%;"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div id="ContainerForMember3Id" class="character-container"></div>
                @Html.LabelFor(m => m.Member3Id)
                <input id="Member3Id" name="Member3Id" class="form-control" style="width: 100%;"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div id="ContainerForMember4Id" class="character-container"></div>
                @Html.LabelFor(m => m.Member4Id)
                <input id="Member4Id" name="Member4Id" class="form-control" style="width: 100%;"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div id="ContainerForMember5Id" class="character-container"></div>
                @Html.LabelFor(m => m.Member5Id)
                <input id="Member5Id" name="Member5Id" class="form-control" style="width: 100%;"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Notes)
                <textarea id="Notes" name="Notes" rows="10" cols="30" style="height: 440px;" aria-label="editor"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <a href="@Url.Action("Index", "Leaderboard")" class="btn btn-default">Cancel</a>
        </div>
        <div class="col-xs-6 text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>


<div class="modal fade image-preview" tabindex="-1" role="dialog" aria-labelledby="imagePreviewLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imagePreviewLabel">Image Preview</h4>
            </div>
            <div class="modal-body">
                <img id="victoryScreenModalPreviewImage" src="" />
            </div>
        </div>
    </div>
</div>


<script type="text/x-kendo-template" id="insertVideo-template">
    <div>
        <label for="videoUrl">Enter a URL from YouTube or Vimeo:</label>
        <input type="text" id="videoUrl" name="videoUrl" />

        <div class="insertVideo-actions">
            <button class="k-button insertVideo-insert">Insert</button>
            <button class="k-button insertVideo-cancel">Cancel</button>
        </div>
    </div>
</script>


<script type="text/x-kendo-template" id="youTube-template">
    <iframe class="youtube-player" type="text/html" width="560" height="315" src="http://www.youtube.com/embed/#= source #?fs=1&feature=oembed&wmode=transparent" frameborder="0" allowfullscreen></iframe>
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#squadForm').validate();

        $('#RaidId').kendoDropDownList({
            optionLabel: 'Select raid...',
            dataTextField: 'RaidName',
            dataValueField: 'RaidId',
            dataSource: {
                type: 'aspnetmvc-ajax',
                serverFiltering: true,
                transport: {
                    read: '@Url.Action("GetRaids", "DataApi")'
                }
            }
        }).data('kendoDropDownList');

        $('#PhaseId').kendoDropDownList({
            autoBind: false,
            cascadeFrom: 'RaidId',
            optionLabel: 'Select phase...',
            dataTextField: 'PhaseName',
            dataValueField: 'PhaseId',
            dataSource: {
                type: 'aspnetmvc-ajax',
                serverFiltering: true,
                transport: {
                    read: '@Url.Action("GetRaidPhases", "DataApi")'
                }
            }
        }).data('kendoDropDownList');

        $('#Damage').kendoNumericTextBox({
            min: 0,
            max: 99999999,
            format: '##,###,###'
        });

        $('#Damage').focusout(function() {
            recalculateRaidPercentDamage();
        });

        $('#PhaseId').change(function () {
            recalculateRaidPercentDamage();
        });

        $("#VictoryScreenFile").kendoUpload({
            async: {
                saveUrl: '@Url.Action("UploadImage", "Squad")',
                removeUrl: 'remove',
                autoUpload: true
            },
            multiple: false,
            dropZone: ".victory-screen-drop-zone",
            select: function(e) {
                var fileReader = new FileReader();
                fileReader.onload = function(event) {
                    var mapImage = event.target.result;
                    $('#victoryScreenPreviewImage').attr('src', mapImage);
                    $('#victoryScreenModalPreviewImage').attr('src', mapImage);
                }
                fileReader.readAsDataURL(e.files[0].rawFile);
            },
            remove: function(e) {
                $('#victoryScreenPreviewImage').attr('src', '');
                $('#victoryScreenModalPreviewImage').attr('src', '');
            },
            validation: {
                allowedExtension: [".jpg", ".jpeg", ".png", ".bmp", ".gif"]
            }
        });
        $("#VictoryScreenFile").closest(".k-upload-button").find("span").text("Select image...");

        $('[id^="Member"]').each(function() {
            $(this).kendoComboBox({
                placeholder: "Select Character...",
                dataTextField: "Name",
                dataValueField: "Id",
                filter: 'contains',
                autoBind: false,
                dataSource: {
                    type: 'aspnetmvc-ajax',
                    serverFiltering: 'true',
                    transport: {
                        read: '@Url.Action("GetPlayerCharacters", "DataApi", new { Model.PlayerUsername })'
                    },
                    schema: {
                        model: {
                            fields: {
                                Id: { type: 'number' },
                                Name: { type: 'string' }
                            }
                        }
                    }
                }
            });

            $(this).change(function () {
                var id = $(this).data('kendoComboBox').value();

                if (id > 0) {
                    $('#ContainerFor' + $(this).attr('id')).load('@Url.Action("GetPlayerCharacterPortrait", "Squad")', { playerCharacterId: id }, function() {
                        console.log('loaded something');
                    });
                }
            });
        });

        $('#Notes').kendoEditor({
            tools: [
                { name: "bold" },
                { name: "italic" },
                { name: "underline" },
                { name: "insertUnorderedList" },
                "insertOrderedList", "subscript",
                "superscript",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor",
                { name: "createLink" },
                { name: "unlink" },
                { name: "insertImage" },
                { name: "custom", tooltip: "Insert Video", exec: insertVideo }
            ],
            resizable: {
                content: true
            }
        });
    });

    function recalculateRaidPercentDamage() {
        var phaseHealth = parseFloat(getRaidPhaseHealth());
        var squadDamage = parseFloat($('#Damage').val());

        if ($.isNumeric(phaseHealth) && $.isNumeric(squadDamage)) {
            $('#percentage-addon').html('' + Math.round((squadDamage / phaseHealth) * 100) + '%');
        } else {
            $('#percentage-addon').html('&nbsp;&nbsp;&nbsp;&nbsp;');
        }
    }

    function getRaidPhaseHealth() {
        var selectedPhaseText = $('#PhaseId').data('kendoDropDownList').text();

        var start = selectedPhaseText.indexOf('(') + 1;
        var end = selectedPhaseText.indexOf(')', start);
        var healthText = selectedPhaseText.substring(start, end);

        var healthPrefix = healthText.substring(0, healthText.indexOf(' '));
        var health = healthPrefix;

        if (healthText.includes('thousand')) {
            health = health * 1000;
        } else if (healthText.includes('million')) {
            health = health * 1000000;
        } else if (healthText.includes('billion')) {
            health = health * 1000000000;
        } else if (healthText.includes('trillion')) {
            health = health * 1000000000000;
        }

        return health;
    }

    function isValidUrl(str) {
        var a = document.createElement('a');
        a.href = str;
        return (a.host && a.host != window.location.host);
    }

    function insertVideo(e) {
        var editor = $(this).data("kendoEditor");

        var dialog = $($("#insertVideo-template").html())
            .find(".insertVideo-insert")
            .click(function () {

                var media = testUrlForMedia(dialog.element.find("input").val());
                if (media) {
                    var template = kendo.template($("#youTube-template").html());

                    editor.exec("insertHTML", { value: template({ source: media.id }) });
                }

                dialog.close();
            })
            .end()
            .find(".insertVideo-cancel")
            .click(function () {
                dialog.close();
            })
            .end()
            .kendoWindow({
                modal: true,
                title: "Insert Video",
                deactivate: function () {
                    dialog.destroy();
                }
            }).data("kendoWindow");

        dialog.center().open();

    }

    function testUrlForMedia(pastedData) {
        var success = false;
        var media = {};
        if (pastedData.match('http://(www.)?youtube|youtu\.be')) {
            if (pastedData.match('embed')) { youtube_id = pastedData.split(/embed\//)[1].split('"')[0]; }
            else { youtube_id = pastedData.split(/v\/|v=|youtu\.be\//)[1].split(/[?&]/)[0]; }
            media.type = "youtube";
            media.id = youtube_id;
            success = true;
        }
        else if (pastedData.match('http://(player.)?vimeo\.com')) {
            vimeo_id = pastedData.split(/video\/|http:\/\/vimeo\.com\//)[1].split(/[?&]/)[0];
            media.type = "vimeo";
            media.id = vimeo_id;
            success = true;
        }
        else if (pastedData.match('http://player\.soundcloud\.com')) {
            soundcloud_url = unescape(pastedData.split(/value="/)[1].split(/["]/)[0]);
            soundcloud_id = soundcloud_url.split(/tracks\//)[1].split(/[&"]/)[0];
            media.type = "soundcloud";
            media.id = soundcloud_id;
            success = true;
        }
        if (success) { return media; }
        else { alert("No valid media id detected"); }
        return false;
    }
</script>