@using Z.Core.Extensions
@using Zelus.Web.Models.Helpers
@model Zelus.Data.Models.Squad
    
<style type="text/css">
    .damage-breakdown {
        margin-top: 20px;
    }

    .raid, .phase, .percent, .damage {
        font-size: 18px;
    }

    .raid, .phase, .percent {
        font-weight: bold;
    }

    .phase {
        width: 90px;
    }

    .percent {
        width: calc(100% - 90px);
        text-align: right;
    }

    .victory-screen {
        width: 100%;
        margin-top: 20px;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <h2>
            @Model.Name<br/>
            <small>by <a href="@Model.PlayerCharacter.Player.CollectionUrl">@Model.PlayerCharacter.Player.Name</a></small>
        </h2>
    </div>
    <div class="col-md-3">
        <div class="damage-breakdown">
            <div class="raid vertical-center">@Model.RaidPhas.Raid.Name</div><!--
            --><div class="phase vertical-center">@Model.RaidPhas.Name</div><!--
            --><div class="percent vertical-center">@(Math.Round((Model.Damage.ToDecimal() / Model.RaidPhas.Health.ToDecimal()) * 100))%</div><!--
            --><div class="damage">@($"{Model.Damage:n0}") damage</div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="#" class="victory-screen-preview-link" data-toggle="modal" data-target=".image-preview">
            <img class="victory-screen" src="@Url.Content(Model.VictoryScreenImage.Path.ToVirtual())" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="text-center">
            <img src="~/Content/Images/crown.png" style="height: 30px;" />
        </div>
    </div>
    <div class="col-md-10"></div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_PlayerCharacter", @Model.PlayerCharacter)
    </div>
    <div class="col-md-2">
        @if (Model.PlayerCharacter1.IsNotNull())
        {
            @Html.Partial("_PlayerCharacter", @Model.PlayerCharacter1)
        }
    </div>
    <div class="col-md-2">
        @if (Model.PlayerCharacter2.IsNotNull())
        {
            @Html.Partial("_PlayerCharacter", @Model.PlayerCharacter2)
        }
    </div>
    <div class="col-md-2">
        @if (Model.PlayerCharacter3.IsNotNull())
        {
            @Html.Partial("_PlayerCharacter", @Model.PlayerCharacter3)
        }
    </div>
    <div class="col-md-2">
        @if (Model.PlayerCharacter4.IsNotNull())
        {
            @Html.Partial("_PlayerCharacter", @Model.PlayerCharacter4)
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Notes:</h4>    
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.Raw(@System.Web.HttpUtility.HtmlDecode(Model.Notes))
    </div>
</div>
<div class="modal fade image-preview" tabindex="-1" role="dialog" aria-labelledby="imagePreviewLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imagePreviewLabel">Image Preview</h4>
            </div>
            <div class="modal-body">
                <img id="victoryScreenModalPreviewImage" class="victory-screen" src="@Url.Content(Model.VictoryScreenImage.Path.ToVirtual())" />
            </div>
        </div>
    </div>
</div>