
@model Zelus.Web.Controllers.Mods.Models.ModPlannerVM

<style type="text/css">
    .set-filter {}
    .set-img {
        height: 35px;
        margin: 0 10px;
    }
    .primary-filter {
        width: 100%;
    }
    .square-container {
        align-content: center;
    }
    .selected-mod {
        background-color: lightskyblue;
    }
</style>

<link href="~/Content/mods.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Unplanned Mods</h2>
            <small class="text-muted">Last swgoh.gg sync was <abbr title="@Model.LastSyncDateTime.ToString("r")">@Model.LastSyncHumanized</abbr></small> 
        </div>
        <div class="col text-right">
            <a href="@Url.Action("Planned", "Mods", new {Area = "", id = Model.PlayerId})" class="btn btn-primary">
                <i class="fas fa-arrow-to-right"></i> 
                Planned Modsets
            </a>
        </div>
        <hr />
    </div>
    
    <div class="row" style="padding-top: 10px;">
        <div class="col">
            <h4>Actions:</h4>
        </div>
    </div>
    
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-sm-2">
            <a href="@Url.Action("DeleteAllMods", "Mods", new {Area = "", id = Model.PlayerId})" class="btn btn-outline-danger">
                <i class="fas fa-minus-octagon"></i>
                Clear Mods
            </a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("DeleteAllModSets", "Mods", new {Area = "", id = Model.PlayerId})" class="btn btn-outline-danger">
                <i class="fas fa-minus-circle"></i>
                Clear Modsets
            </a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-outline-primary" href="#" onclick="playerModSets_OnClick()">
                <i class="fas fa-save"></i>
                Save As Modset
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Filters:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="set-filters" class="btn-group" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input id="Health" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/health.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Speed" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/speed.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Crit_Damage" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/critical_damage.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Crit_Chance" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/crit_chance.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Tenacity" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/tenacity.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Potency" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/potency.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Offense" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/offense.png" />
                </label>
                <label class="btn btn-secondary">
                    <input id="Defense" class="set-filter" type="checkbox" autocomplete="off">
                    <img class="set-img" src="~/Content/Images/defense.png" />
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" id="includeModsetMods" type="checkbox" value="">
                    Include "planned" mods
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="sort-container"></div>
            <a href="#" onclick="addSort()">+ Add Sort</a>
        </div>
        <div class="col">
            
        </div>
    </div>

    <div style="height: 15px;"></div>

    <div class="row">
        <div class="col-md">
            <select id="Square-filter" class="primary-filter">
                <option value="1">Offense</option>
                <option value="0">Any</option>
            </select>
        </div>
        <div class="col-md">
            <select id="Arrow-filter" class="primary-filter">
                <option value="3">Speed</option>
                <option value="0">Any</option>
                <option value="10">Accuracy</option>
                <option value="11">Crit Avoidance</option>
                <option value="7">Protection</option>
                <option value="6">Health</option>
                <option value="1">Offense</option>
                <option value="2">Defense</option>
            </select>
        </div>
        <div class="col-md">
            <select id="Diamond-filter" class="primary-filter">
                <option value="2">Defense</option>
                <option value="0">Any</option>
            </select>
        </div>
        <div class="col-md">
            <select id="Triangle-filter" class="primary-filter">
                <option value="0">Any</option>
                <option value="9">Crit Damage</option>
                <option value="5">Crit Chance</option>
                <option value="7">Protection</option>
                <option value="6">Health</option>
                <option value="1">Offense</option>
                <option value="2">Defense</option>
            </select>
        </div>
        <div class="col-md">
            <select id="Circle-filter" class="primary-filter">
                <option value="0">Any</option>
                <option value="7">Protection</option>
                <option value="6">Health</option>
            </select>
        </div>
        <div class="col-md">
            <select id="Cross-filter" class="primary-filter">
                <option value="0">Any</option>
                <option value="8">Potency</option>
                <option value="4">Tenacity</option>
                <option value="7">Protection</option>
                <option value="6">Health</option>
                <option value="1">Offense</option>
                <option value="2">Defense</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div id="square-container" class="col-md">

        </div>
        <div id="arrow-container" class="col-md">

        </div>
        <div id="diamond-container" class="col-md">

        </div>
        <div id="triangle-container" class="col-md">

        </div>
        <div id="circle-container" class="col-md">

        </div>
        <div id="cross-container" class="col-md">

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var playerId = @Model.PlayerId;

        $(function() {
            loadAll();

            $("#set-filters input[type=checkbox]").change(loadAll);
            $("#includeModsetMods").change(loadAll);

            $('#Square-filter').change(loadSquares);
            $('#Arrow-filter').change(loadArrows);
            $('#Diamond-filter').change(loadDiamonds);
            $('#Triangle-filter').change(loadTriangles);
            $('#Circle-filter').change(loadCircles);
            $('#Cross-filter').change(loadCrosses);
        });

        function loadAll() {
            setTimeout(function() {
                    loadSquares();
                    loadArrows();
                    loadDiamonds();
                    loadTriangles();
                    loadCircles();
                    loadCrosses();
                },
                200);
        }

        function getFilters(modSlot) {
            //get set filter
            var sets = [];
            $("#set-filters .active").each(function() {
                var set = $(this).find(".set-filter").attr("id");
                sets.push(set);
            });

            //get sorts
            var sorts = [];
            $(".sort-option").each(function() {
                var sort = $(this).find("select").val();
                sorts.push(sort);
            });

            //get modset bool
            var include = $("#includeModsetMods").prop("checked");

            //get primary filter for modSlot
            var primary = $("#" + modSlot + "-filter").val();

            return {
                "playerId": playerId,
                "sets": sets,
                "modSlot": modSlot,
                "primary": primary,
                "sorts": sorts,
                "includeModsInSet": include
            };
        }

        function loadSquares() {
            $("#square-container").html("");
            $("#square-container").load("@Url.Action("UnplannedMods", "Mods")",
                getFilters("Square"),
                function() {

                });
        }

        function loadArrows() {
            $("#arrow-container").html("");
            $("#arrow-container").load("@Url.Action("UnplannedMods", "Mods")",
                getFilters("Arrow"),
                function() {

                });
        }

        function loadDiamonds() {
            $("#diamond-container").html("");
            $("#diamond-container").load("@Url.Action("UnplannedMods", "Mods")",
                getFilters("Diamond"),
                function() {

                });
        }

        function loadTriangles() {
            $("#triangle-container").html("");
            $("#triangle-container").load("@Url.Action("UnplannedMods", "Mods")",
                getFilters("Triangle"),
                function() {

                });
        }

        function loadCircles() {
            $("#circle-container").html("");
            $("#circle-container").load("@Url.Action("UnplannedMods", "Mods")",
                getFilters("Circle"),
                function() {

                });
        }

        function loadCrosses() {
            $("#cross-container").html("");
            $("#cross-container").load("@Url.Action("UnplannedMods", "Mods")",
                getFilters("Cross"),
                function() {

                });
        }

        function mods_OnChange(element) {
            if ($(element).closest(".mod-container").hasClass("selected-mod")) {
                $(element).closest(".mod-container").removeClass("selected-mod");
            } else {
                $(element).closest(".mod-container").addClass("selected-mod");
            }
        }

        function playerModSets_OnClick() {
            var showConfirm = false;
            var modIds = [];
            $(".selected-mod").each(function () {
                if ($(this).find(".statmod-inset").length)
                    showConfirm = true;
                modIds.push($(this).data("id"));
            });

            if (showConfirm) {
                var confirmation = confirm("Saving a mod that has already been planned will delete the modset it is a part of.  Continue?");
                if (confirmation === true)
                    saveModset(modIds);
            } else
                saveModset(modIds);
        }

        function saveModset(modIds) {
            $.post("@Url.Action("SaveModSet", "Mods")", { "playerId": playerId, "modIds": modIds }, function(result) {
                if (!result.Success)
                    toastr.error(result.Messages[0], "Error saving modset:");
                else {
                    toastr.success("Modset successfully saved.");
                    loadAll();
                }
            });
        }

        function addSort() {
            var currentSorts = $("#sort-container").children(".sort-option");
            var newElement = "<div class='sort-option'>";

            if (currentSorts.length > 0) {
                newElement += "Then By ";
            } else {
                newElement += "Sort By ";
            }

            newElement += "<select onchange='sortChanged()'>" +
                            "<option value='0'>select an option</option>" +
                            "<option value='3'>speed</option>" +
                            "<option value='5'>critical chance</option>" +
                            "<option value='9'>critical damage</option>" +
                            "<option value='101'>flat offense</option>" +
                            "<option value='201'>percentage offense</option>" +
                            "<option value='8'>potency</option>" +
                            "<option value='10'>accuracy</option>" +
                            "<option value='107'>flat protection</option>" +
                            "<option value='207'>percentage protection</option>" +
                            "<option value='106'>flat health</option>" +
                            "<option value='206'>percentage health</option>" +
                            "<option value='102'>flat defense</option>" +
                            "<option value='202'>percentage defense</option>" +
                            "<option value='4'>tenacity</option>" +
                            "<option value='11'>critical avoidance</option>" +
                        "</select> " +
                        "<a href='#' onclick='removeSort(this)'><span class='badge badge-danger'>X</span></a>" +
                    "</div>";

            $("#sort-container").append(newElement);
        }

        function removeSort(element) {
            $(element).closest(".sort-option").remove();
            loadAll();
        }

        function sortChanged() {
            loadAll();
        }
    </script>
}